<header class="header">
  <div class="container container-header">
    <a href="./index.html" class="header-logo">
      Lloyd<span class="color-span">Jefferson.</span>
    </a>
    <nav class="header-nav">
      <ul class="header-nav-list">
        <li class="header-nav-item"><a href="#about">About me</a></li>
        <li class="header-nav-item"><a href="#projects">Projects</a></li>
        <li class="header-nav-item"><a href="#contacts">Contacts</a></li>
      </ul>
    </nav>
    <button class="burger-btn" type="button">
      <svg class="burger-svg-menu" width="32" height="32">
        <use href="./img/icons/icons.svg#icon-burger-btn"></use>
      </svg>
    </button>
  </div>
</header>
