<section class="hero">
  <div class="container container-hero">
    <div class="bg-container">
      <h1 class="hero-title">
        Hello, I am <span class="color-span">Fullstack developer</span>
      </h1>
      <div class="wrapper">
        <a class="hero-link" href="#contact">
          <span class="arrow-link">
            <svg class="svg-hero-link" width="30" height="30">
              <use href="./img/icons/icons.svg#icon-arrow-right"></use>
            </svg>
            <span class="caption">Order the project</span>
          </span>
          <span class="hero-btn"></span>
        </a>
        <p class="hero-text caption">
          I work with people all over the world to create
          <span class="color-span">impressive</span> and
          <span class="color-span">functional websites</span> that reflect eacha
          client’s unique personality.
        </p>
      </div>
    </div>
    <ul class="hero-list-socials">
      <li class="hero-item-soc">
        <a
          href="https://www.instagram.com/goitclub/"
          target="_blank"
          rel="noopener noreferrer"
          >Instagram</a
        >
      </li>
      <li class="hero-item-soc">
        <a
          href="https://www.facebook.com/goITclub/"
          target="_blank"
          rel="noopener noreferrer"
          >Facebook</a
        >
      </li>
      <li class="hero-item-soc">
        <a
          href="https://www.linkedin.com/school/goit-start-your-career-in-it"
          target="_blank"
          rel="noopener noreferrer"
          >Linkedin</a
        >
      </li>
      <li class="hero-item-soc">
        <a
          href="https://github.com/VladKorniiko/portfolio"
          target="_blank"
          rel="noopener noreferrer"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
