<section class="tech-skills">
  <div class="container">
    <h2 class="visually-hidden">tech-skills</h2>
    <div class="marquee" data-dark-class="dark-theme-dark-green-background">
      <ul class="tech-skills-list" id="techSkillsList1"></ul>

      <ul aria-hidden="true" class="tech-skills-list" id="techSkillsList2"></ul>
    </div>
    <div
      class="marquee tech-second-container"
      data-dark-class="dark-theme-charcoal-background"
    >
      <ul class="tech-skills-list tech-second-list" id="techSkillsList3"></ul>
      <ul
        aria-hidden="true"
        class="tech-skills-list tech-second-list"
        id="techSkillsList4"
      ></ul>
    </div>
  </div>
</section>
