.about-title {
  margin-bottom: 40px;
}

.about-img {
  margin-bottom: 40px;
  border-radius: 16px;
}

.bio-wrapper {
  margin-bottom: 40px;
}

.about-bio-text {
  margin-bottom: 24px;
  width: 320px;
}

.education-wrapper {
  margin-bottom: 40px;
}

.about-item-title {
  margin-bottom: 32px;
}

.education-item {
  margin-bottom: 12px;
  padding-left: 20px;
  position: relative;
}

.education-item:before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--accet-green);
  font-size: 20px;
  line-height: 1;
}

.role-item {
  position: relative;
  padding-left: 20px;
  margin-bottom: 12px;
}

.role-item:before {
  content: '•';
  position: absolute;
  left: 0;
  color: var(--accet-green);
  font-size: 20px;
  line-height: 1;
}
@media only screen and (min-width: 768px) {
  .about-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 60px 32px;
    position: relative;
    z-index: 0;
    overflow: hidden;
  }
  .about-img {
    margin-top: 368px;
    margin-bottom: 0;
  }

  .education-wrapper {
    flex: 1;
  }

  .education-item {
    margin-bottom: 16px;
  }
  .role-item {
    margin-bottom: 16px;
  }
  .role-wrapper {
    flex: 1;
  }

  .about-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('../img/abot-me-background-tablet.png');
    background-size: 336px 252px;
    background-position: 365px 680px;
    background-repeat: no-repeat;
    filter: blur(3px);
    z-index: -1;
  }

  .bio-wrapper {
    margin-bottom: 0;
  }

  .about-bio-text {
    width: 336px;
    margin-bottom: 24px;
  }

  .about-second-container {
    display: flex;
    gap: 32px;
  }
}
@media only screen and (min-width: 1280px) {
  .about-wrapper {
    gap: 60px 130px;
    padding-left: 210px;
  }
  .about-bio-text {
    max-width: 100%;
  }
  .about-education-text {
    width: 360px;
  }
  .about-img {
    margin-top: 396px;
  }
  .about-wrapper::before {
    content: '';
    position: absolute;
    inset: 0;
    background-image: url('./img/abot-me-background-tablet.png');
    background-size: 336px 252px;
    background-position: 870px 650px;
  }
  .about-second-container {
    gap: 130px;
  }
}
