@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
@font-face {
  font-family: 'Impact';
  src: url('../fonts/impact.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --black: #292929;
  --accet-green: #00b068;
  --white: #f0f0f0;
  --light-grey: #e4e5e6;
  --hover-grey: #bbb;
  --light-accent: #bcdfd1;
  --hover: #009156;
  --black-dt: #1e2023;
  --accet-green-dt: #14c57c;
  --white-dt: #f0f0f0;
  --charcoal-dt: #2a2d32;
  --hover-charcoal-dt: #3b3f45;
  --dark-accet-dt: #204136;
  --hover-green-dt: #009156;
  --error: #e74a3b;
  --font-family: 'Poppins', sans-serif;
  --second-family: 'Impact', sans-serif;
}

body {
  font-family: var(--font-family);
  margin: 0;
  color: var(--black);
  background-color: var(--white);
  overflow-x: hidden;
}

svg {
  stroke: none;
  fill: none;
}

p {
  font-weight: 300;
  line-height: 24px;
  letter-spacing: 0.2px;
}

h1,
h2,
h3 {
  text-transform: uppercase;
}

h1,
h2 {
  letter-spacing: 1.8px;
  font-family: var(--second-family);
  font-weight: 400;
}

h1 {
  font-size: 64px;
  line-height: 80px;
}

h2 {
  font-size: 52px;
  line-height: 64px;
}

h3 {
  font-size: 32px;
  font-weight: 500;
  letter-spacing: 0.5px;
  line-height: 40px;
}

.caption {
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
}

@media only screen and (min-width: 768px) {
  h1 {
    font-size: 136px;
    line-height: 156px;
  }

  h2 {
    font-size: 108px;
    line-height: 124px;
  }

  h3 {
    font-size: 36px;
    line-height: 48px;
  }

  .caption {
    font-size: 20px;
    line-height: 32px;
  }
}

address {
  font-style: normal;
}

button {
  font-family: inherit;
  font-size: inherit;
}

html {
  scroll-behavior: smooth;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.color-span {
  color: var(--accet-green);
}
