.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-logo {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 24px;
  line-height: 1;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--black);
  padding: 20px 0;
}
.burger-btn {
  border: none;
  cursor: pointer;
}
.burger-svg-menu {
  fill: var(--black);
}
.header-nav {
  display: none;
}

@media only screen and (min-width: 768px) {
  .header-nav {
    display: block;
  }
  .header-nav-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .header-nav-item {
    font-weight: 300;
    letter-spacing: 0.03em;
    transition: color 0.1s ease-in-out, transform 0.2s ease-in-out;
  }
  .header-nav-item:hover {
    transform: scale(1.05);
    color: var(--accet-green);
  }
  .burger-btn {
    display: none;
  }
}
